@import "tailwindcss";

/* 1. Definimos las variables puras (La paleta maestra) */
@layer base {
  :root {
    --color-bg-main: #ffffff;
    --color-bg-surface: #f1f5f9;
    --color-text-main: #0f172a;
    --color-text-muted: #040404;
    --color-brand: #000000;
  }

  .dark {
    --color-bg-main: #020617;
    --color-bg-surface: #0f172a;
    --color-text-main: #f8fafc;
    --color-text-muted: #000000;
    --color-brand: #60a5fa;
  }
}

/* 2. Conectamos las variables con Tailwind v4 */
@theme {
  --color-background: var(--color-bg-main);
  --color-surface: var(--color-bg-surface);
  --color-content: var(--color-text-main);
  --color-content-muted: var(--color-text-muted);
  --color-primary: var(--color-brand);
}

/* Aplicamos el color de fondo y texto globalmente */
@layer base {
  body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}
/* Animación de carrusel infinito */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Se desplaza exactamente la mitad */
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite; /* Más lento para que sea elegante */
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}

.direction-reverse {
  animation-direction: reverse;
}

/* Para que los logos se vean nítidos */
.tech-logo {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.05));
  transition: all 0.3s ease;
}

.dark .tech-logo {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.1));
}
